.hotelCard {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}
.hotelImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 180px; 
  max-height: 220px;
  border-radius: 15px;
}

.wishlistBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.ratingBadge {
  background: #008009;
  color: white;
}
.stars {
  color: #ff9d00;
}

.discountTag {
  background: #9c1c31;
  color: white;
  font-size: 11px;
  padding: 4px;
  text-align: center;
  border-radius: 4px;
}

.priceSection {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.viewDealBtn {
  background-color: #007cc2;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
