.hotelCard {
  border-radius: 12px;
  transition: transform 0.2s;
  cursor: pointer;
}
.hotelCard:hover {
  transform: translateY(-5px);
}
.hotelImg {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.wishlistBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.stars {
  color: #ffb400;
}
.ratingBadge {
  background: #008009;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}
.viewDealBtn {
  background-color: #0071ff;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
}
.priceSection {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
