@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

.nav-btn {
  transition: all 0.3s ease;
  background-color: transparent;
  font-size: 13px;
}

.nav-btn:hover {
  background-color: #f0f0f0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px) scale(1.05);
  border-color: #000 !important;
  font-weight: 800;
}

.dropdown-container:hover .dropdown-menu-custom {
  display: block !important;
  animation: fadeIn 0.2s ease-in-out;
}

.hover-bg-light:hover {
  background-color: #f8f9fa;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(237, 236, 236, 0.3));
  background-size: cover;
  background-position: center;
  height: 47vh;
  width: 100%;
}

.sec-header {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-bar {
  transition: transform 0.3s ease;
}

.search-bar:hover {
  transform: scale(1.01);
}

.search-bar input::placeholder {
  color: #adb5bd;
  font-weight: 500;
}


.react-datepicker {
  font-family: 'Outfit', sans-serif !important;
  border: none !important;
  border-radius: 1rem !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15) !important;
  padding: 1rem !important;
  display: flex !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
  background-color: #000 !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__day:hover {
  border-radius: 50% !important;
  background-color: #f0f0f0 !important;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__day-name,
.react-datepicker__current-month {
  color: #000 !important;
  font-weight: 700 !important;
}
